<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    {%block head%}
        
    {%endblock%}
</head>
<body>
    {%block body%}
    
    {%endblock%}
    <script>
        var acc=document.getElementsByClassName("accordion");
        var i;

        function accordianfun(){
            this.classList.toggle("active");
            var panel=this.nextElementSibling;
            if(panel.style.maxHeight){
                panel.style.maxHeight=null;
            }else{
                panel.style.maxHeight=panel.scrollHeight +"px";
            }
        }
        for(i=0;i<acc.length;i++){
            acc[i].addEventListener("click",
            accordianfun);
        }

        function reset(){
            let api_call= 3.0;
            document.getElementById('Blade Length').value=api_call;
        }
    </script>
</body>

</html>