{% extends 'base.html'%}

{%block head%}
<div class="header">
    <h1>Weeder Configure </h1>
</div>

{%endblock%}

{%block body%}

    <button class="accordion">Actuator Activation</button>
    <div class="panel">
        <form id="actuator" class="formData">
            <div class="bladeLength">
                <label for="length">Blade Length</label>
           <input type="number" id="Blade Length" value=3.0>
            </div>
        </form>
    </div>
    <button class="accordion">Calibration</button>
    <div class="panel">
        <form id="calibration" class="formData">
            <div class="boardPattern">
                <label for="pattern">Board Pattern</label>
                <input type="float" id="Blade Length">
            </div>

            <br>

            <div class="boardSize">
                <label for="size">Board Size in sq cm</label>
           <input type="float" id="Blade Length">
            </div>

        </form>
    </div>
    
    <button class="reset" onclick="reset()">Reset</button>
    <button class="save">Save</button>
{%endblock%}